body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow : hidden;
}

.signin-container {
    width: 50%;
    background-color: antiquewhite;
    text-align: center;
    padding: 20px;
    display: flex;   
    align-items: center;         
    flex-direction: column;  
    justify-content: center;
}

.title {
    font-weight: 500;
    color: #771e1ea3;
    margin-bottom: 10px;
}

hr {
    width: 500px;
    border: 1px solid rgb(198, 198, 198);
}

.form-signup {
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-weight: 600;
}

.input-form {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.input-form i {
    font-size: 20px;
    color: #602110; 
}

.input-form input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.btn-sign {
    width: 500px;
    padding: 14px;
    background-color: #6f4625;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}   

.btn-sign:hover{
    transition: background 0.3s;
    background-color: #621c1c;
}

.bottom-info {
    font-size: small;
}

.bottom-info p a {
    text-decoration: none;
    color: rgb(39, 134, 28);
    font-weight: 600;
}

.bottom-info p a:hover {
    color: #4a270dd4;
}

/* social-btn */
.social-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-google { 
    border-radius: 5px;
    border: none;
    padding: 10px 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-color: #c9493d; 
}

.btn-facebook { 
    border-radius: 5px;
    border: none;
    padding: 10px 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-color: #3b5998; 
}

.btn-linkedin { 
    border-radius: 5px;
    border: none;
    padding: 10px 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-color: #0077b5; 
}

.btn-google:hover {
    background-color: #fc1500;
    transition: background 0.3s;
}
.btn-facebook:hover {
    background-color: #3769d4;
    transition: background 0.3s;
}
.btn-linkedin:hover {
    background-color: #06a0f3;
    transition: background 0.3s;
}

.point {
    color: rgb(108, 60, 16);
    font-weight: 600;
}

/* img-container */
.img-container {
    width: 50%;
    background-image: url('https://images.pexels.com/photos/1254655/pexels-photo-1254655.jpeg?_gl=1*1d4vir0*_ga*MTQ4OTQ4Mjc1NC4xNzY0NzMxMjkz*_ga_8JE65Q40S6*czE3NjQ3MzQzNjckbzIkZzAkdDE3NjQ3MzQzNzAkajU3JGwwJGgw'); 
    background-size: cover;
    background-position: center;
    position: relative;
}
